.fa {
  padding: 5px;
  font-size: 20px;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  color: black;
}

.fa-github {
  color: black;
}

.fa-envelope {
  color: black;
}