/******************************************************************************
Project: Seniores Digitais - Labora/Alura/Oracle ONE
Programmer: Rosemeire Deconti
Date: December/2020
Challenge: https://github.com/Infoglobo/desafio-front-end
******************************************************************************/
.base-container{
	font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: yellow;
}

.base-header{
	font-size: 40px;
	font-weight: bold;
	color: white;
}

.base-go-top{
  font-size: 10px;
  font-weight: bold;
	color: #FFFFFF;
  cursor: pointer;
}

.base-glyphicon{
	color: #FFFFFF;
  font-size: 40px;
}

.base-message{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	background-color: #FF0000;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	display: none;
}

.base-paragraph-white{
  font-size: 20px;
  text-align: center;
  color: white;
  margin: 10px;
}

.base-paragraph-black{
  font-size: 20px;
  text-align: center;
  color: black;
  margin: 10px;
}

.base-text-align{
  text-align: center;
}

.base-title-white{
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 10px;
}

.base-title-black{
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin: 10px;
}
