/******************************************************************************
Project: Seniores Digitais - Labora/Alura/Oracle ONE
Programmer: Rosemeire Deconti
Date: December/2020
Challenge: https://github.com/Infoglobo/desafio-front-end
******************************************************************************/
.header-logo{
	padding: 10px;
	margin-left: 200px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.header-section{
	width: auto;
  background-color: white;
	margin: 0 auto;
}

.header-topnav {
	font-weight: bold;
	font-size: 20px;
  position: absolute;
  list-style-type: none;
  padding: 10px;
  top: 50px;
	right: 200px;
}

.header-topnav li {
	float: left;}

.header-topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-topnav li:hover a:not(.active) {
  background-color: white;
  color: black;
}

.header-topnav li a.active {
	background-color: white;
  color: black;
}

.header-topnav li.right {
	float: right;
}

.header-topnav .dropdown-content {
  display: none;
  position: absolute;
}

.header-topnav .dropdown-content a {
  color: black;
}

.header-topnav .dropdown:hover > .dropdown-content {
  display: block;
}

/** ------------------------------------------------------------ Media Query **/
@media screen and (max-width: 600px){
    .topnav,
    .topnav {position: unset}
    .topnav li.right,
    .topnav li {float: none;}
}
