/******************************************************************************
Project: Seniores Digitais - Labora/Alura/Oracle ONE
Programmer: Rosemeire Deconti
Date: December/2020
Challenge: https://github.com/Infoglobo/desafio-front-end
******************************************************************************/
.map-iframe {
	width: 100%;
}

.map-contents {
	width: 100%;
	margin: 0 auto;
}

.map-section {
	margin-top: 10px;
	width: 100%;
	background-color: yellow;
}
